<!DOCTYPE html>
<html lang="en">
<head>
    <title>Accounts</title>
    <link rel="stylesheet" href="./css/styles.css">
    <style>
        body {
            background: #fdfdfd;
        }
    </style>
</head>
<body>
    <h1>Accounts</h1>
    <p>
        <a href="accounts/">Back</a>
        <a href="/accounts/edit/<%= account.id %>">Edit account</a>
    </p>
    <p>
        <strong>Nome:</strong> <%= account.nome %>
    </p>
</body>
</html>