<!DOCTYPE html>
<html lang="en">
<head>
    <title>Accounts</title>
    <link rel="stylesheet" href="./css/styles.css">
    <style>
        body {
            background: #fdfdfd;
        }
    </style>
</head>
<body>
    <h1>Edit account</h1>
    <p>
        <a href="accounts/">Back</a>
    </p>

    <form action="/accounts/<%= account.id %>" method="POST">
        <input type="hidden" id="id" name="id" value="<%= account.id %>" /><br>
        <p>
          <label for="nome">Nome da conta:</label><br>
          <input type="text" id="nome" name="nome" value="<%= account.nome %>" /><br>
        </p>
    
        <input type="submit" value="Submeter">
      </form>
</body>
</html>