<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!doctype html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            
            <h1><span class="fa fa-sign-in"></span> Signup</h1>


            
            <!-- LOGIN FORM -->
            <form action="/accounts" method="post">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="name" class="form-control" name="nome">
                </div>
                <div class="form-group">
                    <label>Nome de Usuário</label>
                    <input type="username" class="form-control" name="usuario">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="senha">
                </div>
                
                <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </form>
            
            <hr>
            
            <p>Already have an account? <a href="/">Login</a></p>
            
            <div class="text-center">
                <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
                <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
            </div>
            
        </div>
    </div>
</body>
<%- include('./partials/footer') %>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>